{% extends "base_generic_form.html" %}
{% load static %}
{% load dpnk_tags %}
{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load scribbler_tags %}

{% block form %}

<h2>{% trans "Moje jízdy" %}</h2>
<div id="rides-form-container">{% include "registration/rides.html" %}</div>

{% get_current_language as current_language_code %}

{% cache 3600 "profile_voucher" user_attendance.id %}
{% for voucher in user_attendance.voucher_set.all %}
{% if forloop.first %}
<div>
   <h3>{% trans "Vouchery" %}</h3>
   {% scribble 'before_vouchers' %}
   {% load i18n %}
   {% trans "Zde můžete nalézt vouchery" %}
   {% endscribble %}
{% endif %}
   <table class="table">
   <tr>
      <td>
         {{ voucher.get_voucher_type_display }}
      </td>
      <td>
         {{ voucher.token }}
      </td>
   </tr>
{% if forloop.last %}
   </table>
   {% scribble 'after_vouchers' %}{% endscribble %}
</div>
{% endif %}
{% endfor %}
{% endcache %}

{% scribble 'profile_before_news' %}{% endscribble %}

{% cache 3600 "profile_news" city_slug current_language_code user_attendance.campaign.slug %}
<div class="row base news-row">
   <div class="dpnk-content-box">
      {% wp_news user_attendance.campaign %}
   </div>
   <div class="dpnk-content-box">
      {% wp_actions user_attendance.campaign user_attendance.team.subsidiary.city %}
   </div>
   {% with questionnaire_answer.first as answer %}
   {% if answer %}
   <div class="dpnk-content-box">
      <h3>{% trans "Příspěvky z kreativních soutěží" %}</h3>
      {{ answer.question.competition }}<br/>
      <a href="{% url "questionnaire" questionnaire_slug=answer.question.competition.slug %}">{% trans "Nahrát vlastní příspěvek" %}</a>
      {% thumbnail answer.attachment "360x360" as foto_thumb %}
      {% if foto_thumb %}
         <a href="{% url "questionnaire_answers_all" competition_slug=answer.question.competition.slug %}" title="{% trans "Všechny příspěvky z této soutěže" %}">
         <img src="{{ foto_thumb.url }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}" alt="{% trans "Příspěvek do kreativní soutěže" %}"></a>
      {% else %}
         <br/>
         <a href="{{ answer.attachment.url }}" target="_blank">{{ answer.attachment }}</a>
         <br/>
         <a href="{% url "questionnaire_answers_all" competition_slug=answer.question.competition.slug %}" title="{% trans "Všechny příspěvky z této soutěže" %}">
            {% trans "Všechny příspěvky z této soutěže" %}
         </a>
      {% endif %}
      <br/>
      {% if answer.comment %}
         {{ answer.comment|linebreaksbr|urlize}}
      {% endif %}
   </div>
   {% endif %}
   {% endwith %}
</div>
<div class="row base">
   <div class="col-md-12 prizes">
      {% wp_prize user_attendance.campaign user_attendance.team.subsidiary.city %}
   </div>
</div>
{% endcache %}
{% endblock %}
