{% load i18n %}
{% load l10n %}
{% load dpnk_tags %}
{% load humanize %}
{% load bootstrap3 %}
{% load cache %}
{% load scribbler_tags %}

{% cache 3600 "commute_mode_tooltips" %}
<script type="text/javascript">
   $(function () {
      {% for commute_mode in commute_modes %}
      $('input[value={{ commute_mode.id }}]').parent().attr('title', '{{ commute_mode.tooltip|escapejs }}').attr('data-toggle', 'tooltip').attr('data-placement', 'top').tooltip();
      {% endfor %}
      $('[data-toggle="tooltip"]').tooltip();
   })
</script>
{% endcache %}
<script type="text/javascript">
   {% if formset.errors %}
      $(function () {
         $('#rides-form').trigger('checkform.areYouSure');
      })
   {% endif %}
</script>
<table class="table table-condensed table-bordered">
<tr class="info">
   <th>
      {% trans "Celkem" %}
      {% if competition_phase.date_from %}{% trans "od" %} {{ competition_phase.date_from }}{% endif %}
      {% if competition_phase.date_to %}{% trans "do" %} {{ competition_phase.date_to }}{% endif %}
   </th>
</tr>
{% if user_attendance.campaign.recreational %}
<tr class="info">
   <td>
      {% trans "Celková uražená vzdálenost" %}: {{ user_attendance.trip_length_total_including_recreational_rounded|intcomma }}&nbsp;km
   </td>
</tr>
{% endif %}
<tr class="info">
   <td>
      {% trans "Uražená započítaná vzdálenost" %}: {{ user_attendance.trip_length_total_rounded|intcomma }}&nbsp;km (<a href="{% url "rides_details" %}">{% trans "Podrobný přehled jízd" %}</a>)
   </td>
</tr>
<tr class="info">
   <td>
      {% trans "Pravidelnost" %}: {{ user_attendance.get_frequency_percentage|floatformat|intcomma }}&nbsp;%
   </td>
</tr>
<tr class="info">
   <td>
      {% with get_working_rides_base_count=user_attendance.get_working_rides_base_count get_minimum_rides_base_proportional=user_attendance.get_minimum_rides_base_proportional minimum_rides_base=user_attendance.campaign.minimum_rides_base%}
         {% trans "Počet započítaných cest" %}: {{ user_attendance.get_rides_count_denorm }} {% trans "z" %}
         {{ get_working_rides_base_count }}{% if get_working_rides_base_count == get_minimum_rides_base_proportional %}*
            <br/>
            <small>
            *{% blocktrans %}Do konce soutěže je potřeba urazit alespoň {{ minimum_rides_base }} cest.{% endblocktrans %}
            {% blocktrans %}Počet vašich cest byl tedy zvýšen poměrově k tomuto číslu na {{ get_minimum_rides_base_proportional }} cest.{% endblocktrans %}
            </small>
         {% endif %}
      {% endwith %}
   </td>
</tr>
{% if user_attendance.campaign.competitors_choose_team %}
<tr class="info">
   <td>
      {% trans "Pravidelnost vašeho týmu" %}: {{ user_attendance.team.get_frequency_percentage|floatformat|intcomma }}&nbsp;% (<a href="{% url "other_team_members_results" %}">{% trans "Přehled o vašem týmu" %}</a>)
   </td>
</tr>
{% endif %}
<tr class="info">
   <td>
      {% trans "Ušetřené množství oxidu uhličitého" %}: {{ user_attendance.get_emissions.co2|intcomma }}&nbsp;g  (<a href="{% url 'emission_calculator' %}">{% trans "Emisní kalkulačka" %}</a>)
   </td>
</tr>
<tr class="info">
   <th>
      {% scribble 'rides_info_table_end' %}
      {% load i18n %}
      {% trans "Podrobné výsledky naleznete na stránce" %}
      <a href="{% url "competitions" %}">{% trans "výsledků jednotlivých soutěží" %}</a>.
      {% endscribble %}
   </th>
</tr>
</table>
<form id="rides-form" name="calendar" method="POST" class="dirty-check submit-once-form">
{% csrf_token %}
{{ formset.management_form }}
{% if formset.0 %}
<input type="submit" name="submit" value="{% trans "Uložit jízdy" %}" class="btn btn-primary btn-block" id="submit-id-submit-top">
{% if formset.errors %}
   <br/>
   <div class="alert alert-danger alert-dismissable alert-link">
      {% trans "Jízdy nebyli zadány správně. Prosím zkontrolujte chyby níže v tabulce." %}
   </div>
{% endif %}
<table id="rides" class="table table-condensed">
<thead>
   <tr class="info">
      <th scope="col">{% trans "Do práce" %}</th>
      <th scope="col">{% trans "Z práce" %}</th>
      {% if user_attendance.campaign.recreational %}
      <th scope="col">{% trans "Výlety" %}</th>
      {% endif %}
   </tr>
</thead>
{% for trip_form in formset %}
   {% if forloop.counter0|divisibleby:num_columns %}
      <tr class="info">
         <th colspan="{{num_columns}}" scope="row" class="date{% if not trip_form.working_day %} weekend-day{% endif %}">
            {{ trip_form.initial.date|naturalday:"D j. n. \<\s\p\a\n\>Y\<\/\s\p\a\n\>"|safe }}
         </th>
      </tr>
      <tr>
   {% endif %}
      <td class="{% if not trip_form.instance.id %}un{% endif %}changed">
         {% bootstrap_form trip_form %}
         {% if user_attendance.campaign.tracks %}
         <a class="pin" href="{% url "trip" date=trip_form.get_date direction=trip_form.get_direction %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Zadat trasu v mapě nebo nahrát GPX soubor' %}">
            {% if trip_form.instance.track_isnull or not trip_form.instance.distance %}
            <span class="glyphicon glyphicon-map-marker"></span>
            {% else %}
            <span class="glyphicon glyphicon-edit"></span>
            {% endif %}
         </a>
         {% endif %}
      </td>
   {% if forloop.counter|divisibleby:num_columns %}
   </tr>
   {% endif %}
{% endfor %}
<tr><td colspan="{{num_columns}}">
<input type="submit" name="submit" value="{% trans "Uložit jízdy" %}" class="btn btn-primary btn-block" id="submit-id-submit-bottom">
</td></tr>
</table>
{% else %}
<div class="alert alert-info">
   {% if today < competition_phase.date_from %}
   {% blocktrans with date_from=competition_phase.date_from %}Zde si budete od {{ date_from }} zadávat své jízdy.{% endblocktrans %}
   {% else %}
   {% trans "Zde jste si zadávali své jízdy." %}
   {% endif %}
</div>
{% endif %}
</form>
<div></div>
