{% extends "base_generic_form.html" %}
{% load dpnk_tags %}
{% load i18n %}

{% block form %}
<form method="post" class="submit-once-form form-inline" id="members-form" action="{% url 'team_members' %}">{% csrf_token %}
{% for user in unapproved_users %}
   <div id="id-{{ user.4.2 }}-team-member">
   <h2>{{ user.3.2 }}</h2>
   {% include "messages_include.html" with required_tag="user_attendance_"|add:user.1.2 %}
   <table class="table table-condensed">
      {% for field in user %}
         {% if forloop.counter > 4 %}
            {% if field.0 == 'state_name' %}
               <tr class="
               {% if user.0.2 == "undecided" %}
                  warning
               {% elif user.0.2 == "denied" %}
                  error
               {% else %}
                  success
               {% endif %}
               "
            {% elif field.0 == 'payment_description' %}
               <tr class="
                  {{ user.2.2 }}
               "
            {% else %}
               <tr
            {% endif %}
            id="id-{{ user.4.2 }}-{{ field.0 }}">
               <th style="width: 5em">{{ field.1 }}</th><td>{{ field.2 }}</td>
            </tr>
         {% endif %}
      {% endfor %}
   </table>
   {% if user.0.2 == 'undecided' or user.0.2 == 'denied' %}
         <button class="submit submit_once btn btn-primary" type="submit" id="approve-{{user.1.2}}" name="approve" value="approve-{{user.1.2}}">{% trans "Přijmout do týmu" %}</button>
      {% if user.0.2 == 'undecided' %}
         <br/>
         <label for="reason-{{user.1.2}}">{% trans "Důvod odmítnutí" %}</label>
         <input id="reason-{{user.1.2}}" name="reason-{{user.1.2}}" type="text"/>
         <button class="submit submit_once btn btn-primary" type="submit" id="deny-{{user.1.2}}" name="approve" value="deny-{{user.1.2}}">{% trans "Zamítnout" %}</button>
      {% endif %}
   {% endif %}
   </div>
{% endfor %}
</form>
{% endblock %}
